/* @import "@fontsource/montserrat"; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.select:focus, .input:focus{
    outline: none !important;
}

@font-face{
    font-family:'Chronic';
    src:url(/assets/fonts/chronic/Chronic-Regular.woff2) format("woff2"),
    url(/assets/fonts/chronic/Chronic-Regular.woff) format("woff"),
    url(/assets/fonts/chronic/Chronic-Regular.ttf) format("truetype");
    font-display:swap;
}

@font-face {
    font-family: 'Hacen Hd';
    src: url('/assets/fonts/hacen/HacenAlgeriaHd.woff2') format('woff2'),
        url('/assets/fonts/hacen/HacenAlgeriaHd.woff') format('woff'),
        url('/assets/fonts/hacen/HacenAlgeriaHd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hacen';
    src: url('/assets/fonts/hacen/HacenAlgeria.woff2') format('woff2'),
        url('/assets/fonts/hacen/HacenAlgeria.woff') format('woff'),
        url('/assets/fonts/hacen/HacenAlgeria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hacen Bd';
    src: url('/assets/fonts/hacen/HacenAlgeriaBd.woff2') format('woff2'),
        url('/assets/fonts/hacen/HacenAlgeriaBd.woff') format('woff'),
        url('/assets/fonts/hacen/HacenAlgeriaBd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.lang-en {
    font-family: "Montserrat", sans-serif;
}

.lang-ar {
    font-family: "Hacen", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.hacen {
    font-family: "Hacen", sans-serif;
}

.hacenBD {
    font-family: "Hacen Bd", sans-serif;
}

.hacenHD {
    font-family: "Hacen Hd", sans-serif;
}

.chronic {
    font-family: "Chronic", sans-serif;
}

.skewed {
    transform: skew(10deg) rotate(-6deg);
}
