@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:'Chronic';
    src:url(/assets/fonts/chronic/Chronic-Regular.woff2) format("woff2"),
    url(/assets/fonts/chronic/Chronic-Regular.woff) format("woff"),
    url(/assets/fonts/chronic/Chronic-Regular.ttf) format("truetype");
    font-display:swap;
}

.chronic {
    font-family: "Chronic", sans-serif;
}
